<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.johyeonjung.blogfeed.mapper.UserMapper">

    <insert id="insert" useGeneratedKeys="true" keyProperty="userId">
        insert into user_tb(
        oauth2_id,
        email,
        password,
        provider,
        role,
        nickname,
        instagram_id,
        name,
        profile_image_url,
        gender,
        birth_date,
        status_message
        )
        values ( #{oauth2Id}, #{email}, #{password}, #{provider}, #{role}, #{nickname}, #{instagramId}, #{name},
        #{profileImageUrl},#{gender},#{birthDate},#{statusMessage})
    </insert>

    <select id="findByEmail" resultType="com.johyeonjung.blogfeed.entity.User">
        select *
        from
        user_tb
        where
        email = #{email}

    </select>

    <select id="findByInstagramId" resultType="com.johyeonjung.blogfeed.entity.User">
        select *
        from
            user_tb
        where
            instagram_id = #{instagramId}

    </select>

    <select id="countFollowers" resultType="int">
        select count(*)
        from follow_tb
        where following_id = #{userId}
    </select>

    <select id="countFollowings" resultType="int">
        select count(*)
        from follow_tb
        where follower_id = #{userId}
    </select>

    <select id="countPosts" resultType="int">
        select count(*)
        from post_tb
        where user_id = #{userId}
    </select>
    <select id="isFollowing" resultType="int">
        select count(*)
        from follow_tb
        where follower_id = #{loginUserId}
        and following_id = #{profileUserId}
    </select>








</mapper>